.footer-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 13px;
}

.footer-container > .footer-container__infos {
    display: flex;
    flex-flow: column;
    margin-left: 5px;
}

.footer-container > .footer-container__infos > .span,
.footer-container > .price {
    font-weight: bold;
}

.footer-container > .footer-container__infos > .stats {
    display: flex;
    align-items: center;
}

.footer-container > .footer-container__infos > .stats > .console {
    font-weight: 100;
}

.footer-container > .footer-container__infos > .stats > span {
    margin-right: 5px;
}

.footer-container > .footer-container__infos > .stats > span::before {
    content: '|';
    margin-right: 5px;
}

.footer-container > .price {
    align-self: flex-end;
    position: relative;
    bottom: 5px;
    margin-right: 5px;
}