.container {
    position: relative;
    top: 50px;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: rgba(17, 17, 139, 0.904);
    padding-bottom: 20px;
    width: 98%;
    min-height: 600px;
    margin: auto;
}

.container > app-card {
    margin-top: 20px;
    margin: 20px 25px 0 25px;
}