<app-menu-bar></app-menu-bar>
<div class="container">
    <app-card
    gamePhoto="assets/bt-5.jpg"
    labelStatus="Best of The Year"
    isBuy="s"
    gameType="Full Game"
    gameConsole="PS5 | PS4"
    gamePrice="269.90"
    ></app-card>

    <app-card
    gamePhoto="assets/ac-cover.jpg"
    labelStatus="Deluxe"
    isBuy="n"
    gameType="Exclusive"
    gameConsole="PS5 | PS4 | PS3"
    gamePrice="79.90"
    ></app-card>

    <app-card
    gamePhoto="assets/bt-hardline.jpg"
    labelStatus="Deluxe"
    isBuy="n"
    gameType="Full Game"
    gameConsole="PS4 | PS3"
    gamePrice="59.90"
    ></app-card>
</div>