.menu-container {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100vw;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.menu-container > .home {
    width: 180px;
}

.menu-container > .home > a > img {
    width: 100%;
    margin-left: 15px;
}

.menu-container > .menu-container__options {
    display: flex;
    margin: auto;
}

.menu-container > .menu-container__options > a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.menu-container > .menu-container__options > a:hover {
    font-weight: 500;
}